<div id="footer" style="margin-top:20px">
	<div class="container">
		<h3>Support</h3>
	</div>
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<td class="hidden-xs">
						<img src="/images/nsf.jpg" class="img-thumbnail" width="150px" />
					</td>
					<td>
						This material is based upon work supported by the National Science Foundation under grant #0964120 (&ldquo;CNS-NeTS&rdquo;), #1059372 (&ldquo;CI-ADDO-NEW&rdquo;), and #1111541 (&ldquo;CNS-CSR&rdquo;). Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the sponsoring organizations.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container well well-sm">&copy; Copyright 2013-{{ curr_year }} Lab11.</div>
</div>
